/* ### Desktop ### */
@media screen and (min-width: 761px){
body{
    height:100vh;
    background-size:cover;
	background-repeat:no-repeat;
}


.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
#bottom{
    background-color: transparent;
}

#clock{
    font-size:20px;
    text-align: center;
    font-weight: bold;
}
#weather{
    font-size:20px;
    text-align: center;
}
#report{
    font-size:20px;
    text-align: center;
    font-weight: bold;
}
#link{
	font-size:20px;
    text-align: center;
}
.spacer1 { height: 1px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

}

/* ### HandHeld ### */
@media screen and (max-width: 760px){


.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
	display:inline;
}
.nav>li>a {
	display:inline;
}

.container-fluid .navbar-nav {
	float:left;
}


.navbar-nav li {
	width:150px;
	display:inline;
}
.nav {
	display: inline;
}


.container-fluid .navbar-right{
	float: right;
	margin-right: -15px;
}

.container-fluid .navbar-right img {
	position:relative;

}

main {
	text-align:center;

}

#clock {

	margin-left:auto;
	margin-right:auto;
	margin-top:55px;


	font-size:30px;
	font-weight:bold;
	
}

#weather {
	font-size:15px;
	font-weight:bold;
}

}
