body{
    height:100vh;
    background-size:cover;
}

/*add space to the top of texts*/
.top-buffer { margin-top:400px; }


/*overwriting bootstrap(can change)*/
#clock{
    font-size:50px;
    text-align: center;
    font-weight: bold;
}
#weather{
    font-size:30px;
    text-align: center;
}
#report{
    font-size:50px;
    text-align: center;
    font-weight: bold;
}

#link{
	font-size:50px;
    text-align: center;
    color:blue;
}